mixin checkbox(Quantity)
    .checkbox
        -for (var n= 0; n < Quantity; n++) 
            <input type="radio" name="checkbox" id="checkbox_input"/>
            <label for="checkbox_input" class="checkbox_input"></label>

