mixin footer(footer_copyright)
	footer.footer.layout
		.footer_container
			p.footer_copyright
				| &#x24B8; 2014 Fudi. All Rights Reserved.
			p.footer_design 
				|DESIGN BY:
				span.footer_design__autor
					|WWW.BEKADES.COM