mixin recipe(props)
  .recipe(class= 'recipe__' + props.class)
      p.recipe_sup= props.sup
      h2.h2= props.class

- 
  var array = [
      {
        class: 'italian',
        sup: '327 Recipes',
      },
      {
        class: 'indian',
        sup: '27 Recipes',
      },
      {
        class: 'french',
        sup: '27 Recipes',
      },
      {
        class: 'STEAKHOUSE',
        sup: '174 Recipes',
      },
      {
        class: 'SEAFOOD',
        sup: '131 Recipes',
      },
      {
        class: 'SUSHI',
        sup: '237 Recipes',
      },
      {
        class: 'MEXICAN',
        sup: '529 Recipes',
      },
      {
        class: 'CHINESE',
        sup: '145 Recipes',
      },
      {
        class: 'PIZZA',
        sup: '327 Recipes',
      },
      {
        class: 'AMERICAN',
        sup: '1.437 Recipes',
      }
    ];




