mixin recipe(props)
  .recipe(class= 'recipe__' + props.class)
      p.recipe_sup= props.sup
      h2.h2= props.class

- 
  var array = [
      {
        class: 'italian',
        sup: '327 Recipes',
      },
      {
        class: 'indian',
        sup: '27 Recipes',
      },
      {
        class: 'french',
        sup: '27 Recipes',
      },
      {
        class: 'steakhouse',
        sup: '174 Recipes',
      },
      {
        class: 'seafood',
        sup: '131 Recipes',
      },
      {
        class: 'sushi',
        sup: '237 Recipes',
      },
      {
        class: 'mexican',
        sup: '529 Recipes',
      },
      {
        class: 'chinese',
        sup: '145 Recipes',
      },
      {
        class: 'pizza',
        sup: '327 Recipes',
      },
      {
        class: 'american',
        sup: '1.437 Recipes',
      }
    ];




